<mat-card>
    <div class="table-responsive" *ngIf="stdarr.length > 0; else nostd">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Sr. No</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Is Active</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdarr; index as i; trackBy:trackByfun">
                    <td>{{i +1}}</td>
                    <td>{{std.fname}} {{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                    <td class="text-center"><mat-checkbox [checked]="std.isConfirmed"></mat-checkbox></td>
                    <td><button 
                        (click)="onEdit(std)"
                        mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button></td>
                    <td><button 
                        (click)="oRemove(std.id)"
                        mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #nostd>
        <p class="alert alert-info">No student is added Yet!!!</p>
    </ng-template>
</mat-card>
